.container {
    padding-top: 60px;
    padding-bottom: 120px;
}

.userContainer {
    display: flex;
    overflow-x: scroll;
    padding: 10px;
    background-color: #fff;
    
}

.userItem {
    margin-right: 10px;
    text-align: center;
}

.statusUserName {
    display: block;
    margin-top: 5px;
    font-size: 12px;
    color: #483d8b;
    width: 60px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.postListContainer {
    padding-top: 20px;
    padding-left: 15px;
    padding-right: 15px;
}

.postCard {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.postHeader {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.postAvatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
}

.postUsername {
    flex: 1;
}

.postDate {
    font-size: 12px;
    color: #a9a9a9;
}

.postDescription {
    font-size: 16px;
    color: #00008b;
}

.postImage {
    margin-top: 10px;
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.postFooter {
    display: flex;
    margin-top: 10px;
}

.postButton {
    margin-right: 10px;
    background: none;
    border: none;
    color: #808080;
    cursor: pointer;
}

.postButton:hover {
    text-decoration: underline;
}